@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@utility text-h1 {
  font-size: var(--heading-1-font-size);
  line-height: var(--heading-line-height);
  font-weight: var(--headings-font-weight);
}

@utility text-h3 {
  font-size: var(--heading-3-font-size);
  line-height: 1;
}


@theme {
  /* Colors */
  --color-primary: #222221;
  --color-secondary: #eec564;

  /* Body */
  --body-color: #222221;
  --body-background: #f7f7f7;

  /* Font settings */
  --font-size-base: clamp(1.25rem,1.25vw, 1.25vw);
  --font-size-small: clamp(1rem,1vw,1.125rem);
  --font-size-large: clamp(1.5rem,1.25vw,1.25vw);
  --font-weight-base: 400;
  --font-weight-medium: 400;
  --font-weight-bold: 500;
  --font-weight-bolder: 600;
  --font-sans: var(--font-roboto-mono);


  --heading-line-height: 1.3;
  --headings-font-weight: var(--font-weight-bold);

  --heading-1-font-size: clamp(2rem, 4.25vw, 3.5vw);
  --heading-3-font-size: clamp(1.5rem, 2vw, 2vw);
}

body {
  color: var(--body-color);
  background-color: var(--body-background);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-base);


  /*
   * Lineheight
   */
  --line-height-base: 1.4;
}
